/* general */

body {
	background-color: #e3e3e3;
	color: white;
}

.hero {
    background-image: url("gods.jpg");
    background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: 0 1px 1px #333f48;
	border-bottom: 1px solid #e3e3e3;
	height: 450px;
	margin-bottom: 1em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

/* god details */
.god-details {
	border: 1px solid #e3e3e3;
	margin: 1em;
	padding: 2em;
	line-height: 2em;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background-color: #ffffff;
	color: #697684;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.5);
}

.god-stat {
	padding: 0.25em;
}

.stat-type {
	font-weight: 400;
	color: ##333f48;
}

.god-icon {
	background-image: url("god-icon.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: contain;
	text-shadow: 0 1px 1px #333f48;
	border-bottom: 1px solid #e3e3e3;
	height: 100px;
	text-align: center;
	margin-bottom: 1em;
}

/* spinner */
.spinner {
	margin-top: 3em;
}

/* Search Box */

.search {
	width: 75%;
	height: 5em;
    padding:8px 15px;
    border:0px solid #dbdbdb;
	color: black;

	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.search-button {
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
}

.button {
	width: 25%;
	height: 5em;
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #37BC9B;
    background-color:#37BC9B;
    color:#fafafa;
}

.action-button {
	width: 100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.action-button, .search-box {
	margin: 5em auto;
}

.button:hover  {
    background-color:#48CFAD;
    color:#fafafa;
}


@media screen and (max-width: 1024px) {
	.search-box, .action-button {
	    margin: 1em auto;
	}
}
