body {
	background-color: #AA3939;
	color: white;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

.god-details {
	border: 0.25em solid white;
	margin: 1em;
	padding: 1em;
	line-height: 2em;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: #CD5A5A;
}
